<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <div class="text-muted">Payment No.</div>
                <strong>741037024</strong>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="text-muted">Cour.pdf</div>
                <strong>October 2, 2018 - 03:45 pm</strong>
            </div>
        </div>
<!--         
        <h5 class="card-title">Cours.pdf</h5>
        <h6 class="card-subtitle text-muted">Powerful mobile-first flexbox grid</h6> -->
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card bg-light py-2 py-md-3 border">
                    <div class="card-body" style="height: 800px"> 
                       <app-pdf-viewer ></app-pdf-viewer>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
