    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-left">           
          <header class="section-header">
            <p>Confirmez vos informations</p>
            <span class="lead">Etape 4/4</span>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-building"></i>
                    <h3>Mon Auto-Ecole</h3>
                    <p> </p>
                    <h4> {{autoEcole.nom}}</h4><br>

                    <h4>Description</h4>
                    <p> {{autoEcole.description  || "Non définis"}} </p><br>

                    <h4>Localisation</h4>
                    <p> {{autoEcole.localisation  || "Non définis"}} </p><br>

                    <h4>Site web</h4>
                    <p> {{autoEcole.sitewebUrl  || "Non définis"}} </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-person-circle"></i>
                    <h3>Administrateur</h3>
                    <p></p>
                    <h4> {{admin.nom}} {{admin.prenom}}</h4><br>

                    <h4>Email</h4>
                    <p> {{admin.email  || "Non définis"}} </p><br>

                    <h4>Tel</h4>
                    <p> {{admin.tel  || "Non définis"}} </p><br>
                  </div>
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <div class="info-box">
                <i class="bi bi-cart"></i>
                <h3>Mon plan tarrifaire</h3>
                <div id="pricing" class="pricing">
                  <div class="text-center">
                    <h3 style="color: {{planColor}};">Plan {{planTarifaireName}}</h3>
                    <div class="price"><sup class="">FCFA</sup>{{planTarifaire.prix_session_etudiant}}<span> <br> / Session / Etudiant</span></div>
                    <img [src]="imgPlan" class="img-fluid" alt="">
                    <ul>
                      <li>Au plus 15 étudiants</li>
                      <li>Inscription</li>
                      <li>Paiement en ligne</li>
                      <li>Partage de document (5 Mo max)</li>
                      <li>Session</li>
                      <li>Examen</li>
                      <li>Forum de discution</li>
                      <li class="na">Devoir</li>
                    </ul>
                  </div>
                </div>



              </div>  
            </div>
  
          </div>
         <div class="row mt-2 justify-content-evenly">
            <div class="col-6 text-center">
              <a routerLink="/start/choice-pricing-plan" class=" btn btn-lg btn-primary"><i class="bi bi-arrow-left"> Retour</i></a>
              <!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
            </div>
            <div class="col-6 text-center">
              <button type="submit" class="btn btn-lg btn-success"> <i class="bi bi-check-circle"></i> Confirmer <i class="fa fa-thumbs-up"></i></button>
            </div>
         </div>
          
        </div>
  
      </section><!-- End Contact Section -->