<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <img src="./../../../../assets/img/logo.png" alt="Logo">
        <span>METÖU</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto" href="#about">A propos</a></li>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto" href="#services">Services</a></li>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto" href="#team">Equipe</a></li>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto" href="#pricing">Tarifs</a></li>
          <li><a (click)="addActiveClass($event)" class="nav-link scrollto" href="#contact">Contactez-nous</a></li>
          <li><a class="getstarted scrollto" routerLink="/start/login">Connexion</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->