<nav id="sidebar" class="sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="index.html">
                <span class="align-middle">AutoEcole</span>
            </a>
    
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>
    
                <li class="sidebar-item" routerLinkActive="active">
                    <a class="sidebar-link" routerLink="/client/dashboard">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Tableau de bord</span>
                    </a>
                </li>
    
                <li class="sidebar-item" routerLinkActive="active">
                    <a class="sidebar-link" routerLink="/client/profil">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                    </a>
                </li>
    
                <li class="sidebar-item" routerLinkActive="active">
                    <a class="sidebar-link" routerLink="/client/parametres">
                        <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Parametres</span>
                    </a>
                </li>
    
                <li class="sidebar-item" routerLinkActive="active">
                    <a class="sidebar-link" routerLink="/client/cours">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Cours</span>
                    </a>
                </li>
    
                <li class="sidebar-item">
                    <a class="sidebar-link" href="pages-blank.html">
                        <i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Forum</span>
                    </a>
                </li>
            </ul>
    
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <strong class="d-inline-block mb-2">Compte premium</strong>
                    <div class="mb-3 text-sm">
                        Plus de fonctionnalité? Migrez vers un compte premium.
                    </div>
                    <div class="d-grid">
                        <a href="https://adminkit.io/pricing" target="_blank" class="btn btn-primary">Voir les prix</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>