 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="./../../../../assets/img/logo.png" alt="">
              <span>Metoü</span>
            </a>
            <p>
              Grace a Metöu gérez éfficacement votre auto-école. Désormais vos étudiants pourrons a partir de leurs canapés faire cours d'auto-école,
                avoir une réponse a une préocupation de facon instantané grace au forum et même faire son examen directement en ligne. N'attendez plus...
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-6 footer-links">
            <h4>Lien utils</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Conditions d'utilisation</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactez-nous</h4>
            <p>Mandjack Bangangté,<br>Ouest Cameroun <br></p>
            <p>              
              <strong>Téléphone:</strong> <br> +237 698 29 53 68<br>+237 6 94 23 42 64<br>
              <strong>Email:</strong><br> cednguendap@gmail.com<br>nonobrice441@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
      </div>
    </div> -->
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>